# Ignore the dataset files
*.csv
*.parquet
*.json
**/data/

# Ignore checkpoint files
*.ipynb_checkpoints
*/.ipynb_checkpoints/

# Ignore Python overhead
.env
venv/
__pycache__/

# Never ignore png files in the graphs directory
!graphs/*.png